@import url(/screens/homepage/homepage.css);
@import url(/screens/cart/cart.css);

.account-page {
  padding: 50px 0;
  background: radial-gradient(var(--offwhite-color), var(--secondary-color));
}
.form-container {
  background: var(--offwhite-color);
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px var(--offwhite-color);
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: var(--primary-color);
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid var(--offwhite-color);
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}
